@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="display-info">
        Welcome to the main page of the Zoo
        Project by: Delano Delgado, groep 24, S1162353.
        <li><a asp-action="Sunset" asp-controller="Zoo">Sunset activity</a></li>
        <li><a asp-action="Sunrise" asp-controller="Zoo">Sunrise activity</a></li>
        <li><a asp-action="FeedingTime" asp-controller="Zoo">Check food requirements</a></li>
        <li><a asp-action="CheckConstraints" asp-controller="Zoo">Check constraints</a></li>
        <li><a asp-action="AutoAssign" asp-controller="Zoo">Auto assign animals</a></li>
    </div>
</div>
