@model List<string>

@{
	ViewData["Title"] = "Check zoo constraints";
}

<div class="display-info">
	@if (Model.Any())
	{
		@foreach (string item in Model)
		{
			<ul>@item</ul>
		}
	}
	else
	{
		<a>Failed to load constraints list.</a>
	}
	<a asp-action="Index" asp-controller="Home">Back to home menu</a>
</div>